<%- include('./fragments/header.ejs') %>
    <img class="main-page-bg" src="img/main-page-bg.jpg" alt="old english town">

    <main class="descr">
        <h2 class="title" id="main-page">Main page</h2>
        <div class="descr__text">This is a site for the Dean's Office of the University of Oxford to save, modify, and amend student, grade and subject data.</div>
        <hr class="descr__div">

        <h3 class="desc__subtitle">Introduction and history of the Oxford University</h3>

        <p class="descr__paragraph">As the oldest university in the English-speaking world, Oxford is a unique and historic institution. There is no clear date of foundation, but teaching existed at Oxford in some form in 1096 and developed rapidly from 1167, when Henry II banned English students from attending the University of Paris.</p>

        <p class="descr__paragraph">In the 13th century, rioting between town and gown (townspeople and students) hastened the establishment of primitive halls of residence. These were succeeded by the first of Oxford's colleges, which began as medieval 'halls of residence' or endowed houses under the supervision of a Master. University, Balliol and Merton Colleges, which were established between 1249 and 1264, are the oldest.</p>

        <p class="descr__paragraph">Less than a century later, Oxford had achieved eminence above every other seat of learning in the country, and had won the praises of popes, kings and sages by virtue of its antiquity, curriculum, doctrine and privileges. In 1355, Edward III paid tribute to the University for its invaluable contribution to learning; he also commented on the services rendered to the state by distinguished Oxford graduates.</p>

        <p class="descr__paragraph">From its early days, Oxford was a centre for lively controversy, with scholars involved in religious and political disputes. John Wyclif, a 14th-century Master of Balliol, campaigned for a Bible in the vernacular, against the wishes of the papacy. In 1530, Henry VIII forced the University to accept his divorce from Catherine of Aragon, and during the Reformation in the 16th century, the Anglican churchmen Cranmer, Latimer and Ridley were tried for heresy and burnt at the stake in Oxford.</p>

        <p class="descr__paragraph">The University was Royalist in the Civil War, and Charles I held a counter-Parliament in Convocation House. In the late 17th century, the Oxford philosopher John Locke, suspected of treason, was forced to flee the country.The 18th century, when Oxford was said to have forsaken port for politics, was also an era of scientific discovery and religious revival. Edmund Halley, Professor of Geometry, predicted the return of the comet that bears his name; John and Charles Wesley's prayer meetings laid the foundations of the Methodist Society.</p>

        <p class="descr__paragraph">The University assumed a leading role in the Victorian era, especially in religious controversy. From 1833 onwards The Oxford Movement sought to revitalise the Catholic aspects of the Anglican Church. One of its leaders, John Henry Newman, became a Roman Catholic in 1845 and was later made a Cardinal. In 1860 the new University Museum was the scene of a famous debate between Thomas Huxley, champion of evolution, and Bishop Wilberforce.</p>

        <p class="descr__paragraph">From 1878, academic halls were established for women and they were admitted to full membership of the University in 1920. Five all-male colleges first admitted women in 1974 and, since then, all colleges have changed their statutes to admit both women and men. St Hilda's College, which was originally for women only, was the last of Oxford's single sex colleges. It has admitted both men and women since 2008.</p>

        <p class="descr__paragraph">During the 20th and early 21st centuries, Oxford added to its humanistic core a major new research capacity in the natural and applied sciences, including medicine. In so doing, it has enhanced and strengthened its traditional role as an international focus for learning and a forum for intellectual debate.</p>
    </main>
<%- include('./fragments/footer.ejs') %>