.table-list {
    border-collapse: collapse;
    color:#2c3e50;
    width: 100%;
}

.table-list .table-list__header {
    font-size: 1.25rem;
}

.table-list > tbody > tr > td {
    font-size: 1.0625rem;
}

.table-list,
.table-list th,
.table-list td {
    border: 1.5px solid #002147;
}

.table-list th,
.table-list td {
    padding: 0.5rem;
    text-align: center;
}

.table-list__actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0.25rem 0 0.25rem 0;
    padding: 0;
}

.table-list__btn-actions-details,
.table-list__btn-actions-edit,
.table-list__btn-actions-delete {
    width: 110px;
    height: 30px;
    display: inline-block; 
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.0625rem;  
}

.table-list__btn-actions-details {
    background-color: #176faa;  
    transition: 0.5s all;  
}

.table-list__btn-actions-details:hover {
    background-color: #2a91d6;
}

.table-list__btn-actions-edit {
    background-color: #b48b05;
    transition: 0.5s all;  
}

.table-list__btn-actions-edit:hover {
    background-color: #cca91f;
}

.table-list__btn-actions-delete  {
    background-color: #ad1f0f;
    transition: 0.5s all;  
}

.table-list__btn-actions-delete:hover {
    background-color: #e4301c;
}

@media (max-width: 1199px) {
    .table-list__btn-actions-details,
    .table-list__btn-actions-edit,
    .table-list__btn-actions-delete {
        width: 70px;
        height: 25px;
        font-size: 0.875rem;
    }
}

@media (max-width: 991px) {
    .table-list .table-list__header {
        font-size: 1.0625rem;
    }

    .table-list > tbody > tr > td {
        font-size: 1rem;
    }
}