<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dean of Oxford University</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/pages/index.css">
</head>
<body>
    <header class="header">
        <div class="header__wrapper">
            <h1 class="header__title">dean's office, of oxford university</h1>

            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="/">Main page</a>
                    </li>

                    <li class="menu__item">
                        <a href="/students">Students</a>
                    </li>
                    
                    <li class="menu__item">
                        <a href="/subjects">Subjects</a>
                    </li>
        
                    <li class="menu__item">
                        <a href="/grades">Grades</a>
                    </li>
                </ul>
            </nav>
        </div>

        <a href="/" class="header__logo">
            <img src="/icons/oxford_logo.png" alt="Oxford University Logo">
        </a>
    </header>